<nav class="topbar">
	<ul>
	<% @weeks.each do |week| %>
		<% if week.week_number == @week.week_number %>
			<%= content_tag(:li, get_week_name(week.week_number), class: "current-week") %>
		<% else %>
			<%= content_tag(:li, link_to(get_week_name(week.week_number), "/week/#{week.week_number}")) %>
		<% end %>
	<% end %>
	</ul>
</nav>

<section class="highlights-section">
	<% week_name = get_week_name(@week.week_number)
	week_name = "Week #{week_name}" if @week.week_number <= 17 %>
		
	<h1><%= week_name %> Highlights</h1>
	<ul class="highlights">
	<% @highlights.sort_by { |arr| arr[:posted_on] }.reverse.each do |highlight| %>
		<%= content_tag(:li, CGI.unescapeHTML(highlight.body).html_safe) %>
	<% end %>
	</ul>
</section>

<div id="display"></div>

<!-- Loading Gears -->
<div class="loading"></div>
<!-- End loading gears -->
