// Place all the styles related to the weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZ_o9VAbKgK36i-4snuAuCM.woff) format('woff');
}

body, html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Titillium Web";
}

a {
	text-decoration: none;
}

.topbar {
	text-align: center;
	padding: 3px 0;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		display: inline-block;
	}

	li {
		display: inline-block;
		margin: 0 10px;
	}

	a {
		color: rgb(140,140,140);
	}

	.current-week {
		cursor: default;
	}

	#searchform {
		display: inline-block;
	}

	#searchbar {
		height: 17px;
		width: 130px;
		padding: 1px 22px 1px 7px;
		position: relative;
		bottom: 2px;
		border-radius: 12px;
		border: 1px solid transparent;
		border-top: none;
		border-bottom: 1px solid #DDD;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
		outline: 0;
	}

	#search-btn {
		position: relative;
		top: 1px;
		right: 23px;
		vertical-align: middle;
		background-color: transparent;
		border: none;
		background-image: image-url("search.png");
		background-repeat: no-repeat;
		width: 13px;
		outline: 0;
		cursor: pointer;
	}
}

.highlights-section {

	margin: 70px 130px;

	.highlights {

		padding: 0;

		li:first-child {
			border-top: none;
		}

		li {
			font-size: 17px;
			list-style-type: none;
			border-top: 1px solid rgb(210,210,210);
		}

	}

}

.media {
	position: fixed;
	z-index: 9999;
	display: none;
}

.loading {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -40px;
	margin-left: -40px;
	display: none;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 4px rgb(220,220,220);
	border-top-color: rgb(150,150,150);
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@-webkit-keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
	} 
}

@keyframes spin { 
	100% { 
		transform: rotate(360deg); 
	} 
}

.image:after {
	content: " \f03e";
	font-family: FontAwesome;
	text-decoration: none !important;
}

table, th, td {
	border: 1px solid rgb(210,210,210);
	border-collapse: collapse;
}

table {
	margin: 25px 0;
}

th {
	text-align: center;
}

td {
	padding: 0 5px;
}

