// Place all the styles related to the weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#display {
	position: fixed;
	z-index: 9999;
	display: none;
}

#week-list {
	position: absolute;
	top: 40px;
	right: 100px;
}

.uil-gears {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -25px;
	margin-left: -25px;
	display: none;
}

a {
	text-decoration: none;
}

.image:after {
	content: " \f03e";
	font-family: FontAwesome;
	text-decoration: none !important;
}
