<nav class="topbar">
	<ul>
		<% Week.all.each do |week| %>
			<% if @week && week.week_number == @week.week_number %>
				<%= content_tag(:li, week.week_name, class: "current-week") %>
			<% else %>
				<%= content_tag(:li, link_to(week.week_name, "/highlights/#{week.week_number}")) %>
			<% end %>
		<% end %>
	</ul>
</nav>
