<%= render "topbar" %>

<section class="highlights-section">
	<h1><%= @heading %></h1>
	<ul class="highlights">
		<% @highlights.each do |highlight| %>
			<%= content_tag(:li, CGI.unescapeHTML(highlight.body).html_safe) %>
		<% end %>
	</ul>
</section>

<div id="vid-container" class="media">
	<video id="vid-player" autoplay loop>
		<source id="webm-source" src="" type="video/webm">
		<source id="mp4-source" src="" type="video/mp4">
	</video>
</div>

<div id="img-container" class="media">
	<img id="img-elem" src="">
</div>

<div class="loading"></div>
